################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Project-4/v17
/CS230 Project4/.vs/Project4
